# Whitehouse Visitor Log Dataset

In [ ]:
# import packages we need for exploratory data analysis (EDA)
import pandas as pd  # to store tabular data
import numpy as np  # to do some math
import matplotlib.pyplot as plt  # a popular data visualization tool
import seaborn as sns  # another popular data visualization tool
%matplotlib inline  
plt.style.use('fivethirtyeight')  # a popular data visualization theme

In [100]:
# load in the data set
whitehouse = pd.read_csv('/Users/divyasusarla/Downloads/whitehouse_waves-2016_12.csv')

In [101]:
whitehouse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970504 entries, 0 to 970503
Data columns (total 28 columns):
NAMELAST             970494 non-null object
NAMEFIRST            970497 non-null object
NAMEMID              778796 non-null object
UIN                  966303 non-null object
BDGNBR               274058 non-null float64
ACCESS_TYPE          966273 non-null object
TOA                  274052 non-null object
POA                  274043 non-null object
TOD                  162480 non-null object
POD                  94507 non-null object
APPT_MADE_DATE       966282 non-null object
APPT_START_DATE      970504 non-null object
APPT_END_DATE        970504 non-null object
APPT_CANCEL_DATE     18868 non-null object
Total_People         966273 non-null float64
LAST_UPDATEDBY       965309 non-null object
POST                 966273 non-null object
LASTENTRYDATE        966273 non-null object
TERMINAL_SUFFIX      965309 non-null object
visitee_namelast     911249 non-null object
visitee_namefirst    963723 non-null object
MEETING_LOC          967873 non-null object
MEETING_ROOM         966272 non-null object
CALLER_NAME_LAST     966273 non-null object
CALLER_NAME_FIRST    966273 non-null object
CALLER_ROOM          0 non-null float64
DESCRIPTION          609587 non-null object
Release_Date         970504 non-null object
dtypes: float64(3), object(25)
memory usage: 207.3+ MB

In [102]:
whitehouse.isnull().sum()

NAMELAST                 10
NAMEFIRST                 7
NAMEMID              191708
UIN                    4201
BDGNBR               696446
ACCESS_TYPE            4231
TOA                  696452
POA                  696461
TOD                  808024
POD                  875997
APPT_MADE_DATE         4222
APPT_START_DATE           0
APPT_END_DATE             0
APPT_CANCEL_DATE     951636
Total_People           4231
LAST_UPDATEDBY         5195
POST                   4231
LASTENTRYDATE          4231
TERMINAL_SUFFIX        5195
visitee_namelast      59255
visitee_namefirst      6781
MEETING_LOC            2631
MEETING_ROOM           4232
CALLER_NAME_LAST       4231
CALLER_NAME_FIRST      4231
CALLER_ROOM          970504
DESCRIPTION          360917
Release_Date              0
dtype: int64

In [103]:
whitehouse.dropna(axis=1, inplace=True)

In [105]:
whitehouse.head()

  APPT_START_DATE    APPT_END_DATE Release_Date
0  10/1/2015 3:00  10/1/2015 23:59    1/29/2016
1  10/1/2015 5:00  9/30/2016 23:59    1/29/2016
2  10/1/2015 5:00  9/30/2016 23:59    1/29/2016
3  10/1/2015 5:00  9/30/2016 23:59    1/29/2016
4  10/1/2015 5:00  9/30/2016 23:59    1/29/2016

In [106]:
whitehouse['APPT_START_DATE'] = pd.to_datetime(whitehouse['APPT_START_DATE'])
whitehouse['APPT_END_DATE'] = pd.to_datetime(whitehouse['APPT_END_DATE'])

In [107]:
whitehouse['APPT_DURATION'] = whitehouse['APPT_END_DATE'] - whitehouse['APPT_START_DATE']

In [108]:
np.mean(whitehouse['APPT_DURATION'])

Timedelta('1 days 03:46:03.909412')